/* Work Sans Fonts - Google Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text-lightgray {
    color: #727272;
}

.section-title {
    font-size: 2.8rem;
    color: #131313;
    font-weight: 700;
}

.btn-praimary {
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    color: #FFF;
    cursor: pointer;
    margin-top: 20px;

}

/* header related styles */

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 50px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    color: #424242;
    text-decoration: none;
}

/* banner styles */

.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-img {
    margin-top: 20px;
    width: 100%;
    align-items: center;
}

/* main section styles */

main {

    max-width: 1440px;
    margin: 50px auto;
}

/* teams section styles */

.teams-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    padding: 20px 20px;
}

.teams-content {
    padding-left: 80px;
    padding-right: 80px;
    /* align-items: center; */
}

.teams-heading {
    font-size: 2.8rem;
}

.teams-heading .quick-list {
    color: #727272;
    font-weight: 400;
}

.teams-heading .text-features {
    color: #FF900E;

}

/* facts section styles */

.facts-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.facts-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px 20px;
}

.facts-container .card-title {
    font-weight: 600;
    font-size: 1.25rem;

}

.facts-container .card-stats {
    font-size: 2.8rem;
    color: #424242;
}

/* sponsors styles */

.sponsors{
    text-align: center;
    margin-top: 50px;
    align-items: center;
    gap: 20px;
}

.sponsors-img-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.sponsors-img-container img{
    width: 165px;
}


/* responsive media query */

/* for small devices */
@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-container, .sponsors-img-container {
        flex-direction: column;
    }

    .facts-container {
        gap: 20px;
    }

    .banner-title {
        font-size: 2rem;
    }

    .teams-content, .facts-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* for medium devices */

    @media screen and (min-width: 576px) and (max-width: 960px) {

        header {
            padding: 40px;
        }

        nav,
        .teams-container, .facts-container, .sponsors-img-container  {
            flex-direction: column;
        }

        .teams-content, .facts-container  {
            padding-left: 30px;
            padding-right: 30px;

        }
    }